 
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><h3>Featured</h3></li>
        <li class="nav-header">New York Times Magazine</li>
        <a href="http://www.nytimes.com/" target="_blank"><img src="http://graphics8.nytimes.com/images/2012/04/29/magazine/29cover/29cover-sfSpan.jpg"></a>
      </br>
      </br>
        <li class="nav-header">The Atlantic</li>
        <a href="http://www.theatlantic.com/" target="_blank"><img src="http://cdn.theatlantic.com/static/front/images/magazine/covers/210x280/201205.jpg"></a>
        </br>
        </br>
        <li class="nav-header">Wired</li>
        <a href="http://www.wired.com/" target="_blank"><img src="http://pulsepoint.org/wp-content/uploads/2012/03/WiredApril2012_300px.jpg"></a>
        </br>
        </br>
        <li class="nav-header">Time</li>
        <a href="http://www.time.com/time/magazine" target="_blank"><img src="http://img.timeinc.net/time/magazine/archive/covers/2012/1101120423_600.jpg"></a>
        </br>
        </br>
        <li class="nav-header">NY Mag</li>
        <a href="http://www.thedailybeast.com/content/newsweek.html" target="_blank"><img src="http://images.nymag.com/news/features/myler120430_1_560.jpg"></a>
      </ul>
    </div>