<div class="link-loading">
	<div class="link">
		<div class="link-left">
	      <div class="journobots">
	        <%= image_tag "fetch3.jpg", :id => "fetch" %><h1>fetching content</h1>
	        <%= image_tag "loader.gif", :id => "loading" %>
	      </div>
		</div>
		<div class="link-right">
			<%= gravatar_image_tag(current_user.email, :alt => current_user.name, :class => 'mini-gravatar', :gravatar => { :size => 48 })%>
			<div class="shared-by"><p>Shared by </p> 
			<%= link_to current_user.name, user_path(current_user.id) %></div>
			<div class="social_btn"><i class="icon-share"></i> Share</div>
		</div>
	</div>
</div>